<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>欢迎页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes" />
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;欢迎登录驰诚电气认证分析平台</h3>
        <ul>
            <li>  河南驰诚电气股份有限公司成立于2004年12月27日，主要经营仪器仪表，总部位于河南郑州，是一家专业从事高、精、尖仪器仪表的研发、生产与销售，具有自营进出口资格的公司。</li>
            <li>  河南驰诚电气股份有限公司主要产品包括：可燃气体报警仪、毒性气体报警仪、酒精检测仪、露点仪、气体纯度仪等，广泛应用于电力、电子、冶金、化工、石油、煤炭、矿山、铁路、医药和科研机构等领域。</li>
            <li>  仪器仪表及控制系统、电子产品、安全环保设备、防护装备、安防监控设备及系统的开发、生产、销售及服务；防爆电气设备安装与维修；检测校对的技术服务；计算机软件的开发；电子产品、计算机软硬件、高低压电器设备及配件、五金机电设备、电线电缆、劳保用品、制冷设备的销售；货物进出口、技术进出口。</li>
            <!--            <li><a href=""></a></li>-->
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <ul>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <ul>
        </ul>
    </div>
</div>
</body>
</html>