<!DOCTYPE html>
<html>
<head>
    <title>Java文件管理示例</title>
</head>

<body>
<div class="wrapper">

    <div class="content-wrapper" style="height:100%">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>文件管理</h1>
        </section>

        <!-- Main content -->
        <section class="content" style="height:100%">
            <iframe src="./filemanage.html" width="100%" height="600" scrolling="auto" frameborder="0">
            </iframe>
        </section>
    </div>

</div>

</body>
</html>